<h1>yournotez.com</h1>
<h3>Browser notes</h3>

<div>
    <input id="notes" #notes type="text" autofocus placeholder="Enter notes here"><br><br>
    <input id="submit" type="submit" (click)="onSubmit(notes.value)" value="Enter Note">
    &nbsp;
    <input id="clear" type="submit" (click)="clearAll()" value="Delete All">&nbsp;
    <br>
    <label>Export as: </label>
    <select id="export">
        <option value="pdf">None</option>
        <option value="pdf">PDF</option>
        <option value="Cloud Option">Cloud Option</option>
    </select>
    <br>
</div>
<br>
<div id="note" *ngFor="let note of allnotes">
    <div id="container" [ngStyle]="{'background-color': note.color}">{{note.note}}<br></div>
</div>

