<h1><a href="http://yournotez.com">yournotez.com</a></h1>
<h3>Browser notes, available in your inbox anytime</h3>

<div>
    <textarea #note placeholder="Type your locally stored notes here:"></textarea><br>
    <input type="submit" (click)="onSubmit(note.value)">&nbsp;&nbsp;&nbsp;
    <input type="submit" value="Delete All" (click)="clearAll()">
    <!-- <input type="button" value="Submit" (click)="onSubmit()" /> -->
    <!-- <input type="button" value="Call" (click)="callPhone(phone.value)" /> -->


</div>




